<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Example-IOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Example-OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KeepLayout-IOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KeepLayout-OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KeepLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>589B07FB193FA8850061D204</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>589B080C193FA8850061D204</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>589B0825193FA9810061D204</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>589B083F193FA9810061D204</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B3C507816B5304600D00BF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B3C50A216B530BE00D00BF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
